target
build
test
kernel/config.toml
*.vcxproj
*.vcxproj.*
*.cmake
CMakeCache.txt
*.sln
.vs
CMakeFiles
doors-os-64
Win32
Makefile
*.iso
*.dat
*.log
CMakeLists.txt
bochs_config.txt
bochs_symbol_filter
disassemble.txt
expanded.txt
netboot
stack.txt
bootloader
x64
user/x64
kernel/x64
grub-2.12
grub-files
grub-build
rust-install
